<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- temporary, transition to bootstrap styling {% include 'base/style.html' %} -->
  {% include 'includes/bootstrap_css.html' %}
  <title>{% block title %}{% endblock %}</title>
</head>
{% include 'base/navbar.html' %}

<body>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>

</body>

<footer>
    {% include 'includes/bootstrap_js.html' %}
</footer>
</html>